* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
      135deg,
      rgba(159, 159, 159, 0.46) 0%,
      rgba(159, 159, 159, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 14.286%,
      rgba(165, 165, 165, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 28.572%,
      rgba(171, 171, 171, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 42.858%,
      rgba(178, 178, 178, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 57.144%,
      rgba(184, 184, 184, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 71.43%,
      rgba(190, 190, 190, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 85.716%,
      rgba(196, 196, 196, 0.46) 100.002%
    ),
    linear-gradient(
      45deg,
      rgb(252, 252, 252) 0%,
      rgb(252, 252, 252) 14.286%,
      rgb(246, 246, 246) 14.286%,
      rgb(246, 246, 246) 28.572%,
      rgb(241, 241, 241) 28.572%,
      rgb(241, 241, 241) 42.858%,
      rgb(235, 235, 235) 42.858%,
      rgb(235, 235, 235) 57.144%,
      rgb(229, 229, 229) 57.144%,
      rgb(229, 229, 229) 71.43%,
      rgb(224, 224, 224) 71.43%,
      rgb(224, 224, 224) 85.716%,
      rgb(218, 218, 218) 85.716%,
      rgb(218, 218, 218) 100.002%
    );
}

header {
  height: 15vh;
  background: #f0f0f0;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px goldenrod;
}

form {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px goldenrod;
  background-color: #f0f0f0;
}

article {
  background-color: #e0e0e0;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.toDoList {
  font-family: "Anton", sans-serif;
  color: goldenrod;
}

i {
  font-size: 1.3rem;
  color: goldenrod;
}

.clear,
.date {
  position: absolute;
}

.clear {
  right: 30px;
  top: 30px;
}

.date {
  bottom: 10px;
  left: 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Righteous", cursive;
  color: goldenrod;
}

.container {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  background-color: whitesmoke;
}

.toDoWriter {
  width: 80%;
  height: 50%;
  background-color: #e0e0e0;
  border: solid 1px whitesmoke;
  border-radius: 20px;
}

.submit {
  font-size: 12px;
  background-color: goldenrod;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border: 1px solid #f0f0f0;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  height: 50%;
  width: 10%;
  margin-left: 2%;
}

.submit:hover {
  background-color: navy;
  color: goldenrod;
}
