doctype html
html
  head
    title To Do List
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main.main-container
      include header
      block content
      include footer
    script(src="/javascripts/app.js")
